.venv/
.vscode/
/html/
/build/
/dist/
/ebuilds/
/declarative/
/*.zip
.vs/
src/.vs
src/airlock_airscript.egg-info
src/airscript.egg-info
__pycache__/
work/
src/airscript.rc
/config.yaml
/airscript.rc
/gaga.py
/gaga.yaml
/dummy.yaml
